<% @posts_presenter.on_present do %>
  <% @posts_presenter.posts.each do |post| %>
    <div class="blog_post">
      <%= image_tag post.preview_image, class: 'image' %>
      <div class="title">
        <%= link_to post.title, post_path(post.id) %>
      </div>
      <div class="time">
        <%= post.created_at %>
      </div>
      <div class="body">
        <%= post.description %>
      </div>
      <%= link_to 'Read full post', post_path(post.id), class: 'button' %>
    </div>
  <% end %>

  <%= will_paginate @posts_presenter.posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% end %>

<% @posts_presenter.on_empty do %>
  <p>В блоге пока нет постов =С</p>
<% end %>

